---
title: AmyAmelia
---

<%= partial "nav" %>
 
      
<div class="container">
 <div class="col-sm-6"><img class="img-circle img-responsive" alt="loading" src="images/desktop.jpg"></div>
 <div class="col-sm-6">
  <h4><p>Who Am I? 24601. I'm a former nanny and preschool teacher turned coder and analytics enthusiast. I live for RuPaul. I like the Carolina Panthers and the Chicago Blackhawks. I sing showtunes loudly when I think people aren't around. They are polite and pretend not to hear me.</p>
  <p>I made my first website in 1997. It was beautiful and I wish you could see its majestic glory today. I made hobby sites until 2004, but that's another story.</p>
  </h4>
 </div>
</div>


<%= partial "footer" %>
