---
title: Cloth Diapers to Coding
date: 2015-05-04
tags: jobs
---

<%= partial "nav" %>

<div class="container">

	<center><h2>Cloth Diapers to Coding</h2></center>

<p>I am very grateful for my time at It's Bspoke. I met tons of people I wouldn't have typically met, and I no longer talk in the third person to children. Five months before I started working for my company, I was a nanny for a one-year-old girl. Before that, I was a nanny to two girls and a preschool teacher. Kids teach you a lot about yourself. It was interesting to make the move to tech.</p>

</div>

<%= partial "footer" %>