---
title: AmyAmelia
---

<%= partial "nav" %>

<div class="container">
<div class="row info" style="text-align:center;">
</div>
<div class="resume">
    <header class="page-header">
    <h1 class="page-title">Resume of Amy Ritchie</h1>
    <small> <i class="fa fa-clock-o"></i> Last Updated on: <time>May 5th, 2015</time></small>
  </header>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading resume-heading">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-circle img-responsive" alt="" src="http://photos4.meetupstatic.com/photos/member/7/e/2/e/member_159632302.jpeg">
              </figure>
  

                <div class="col-xs-12 social-btns">
                  
                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                      <a href="" class="btn btn-social btn-block btn-google">
                        <i class="fa fa-google"></i> </a>
                    </div>
                  
                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                      <a href="www.twitter.com/amyisamelia" class="btn btn-social btn-block btn-twitter">
                        <i class="fa fa-twitter"></i> </a>
                    </div>
                  
                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                      <a href="www.linkedin.com/amyisamelia" class="btn btn-social btn-block btn-linkedin">
                        <i class="fa fa-linkedin"></i> </a>
                    </div>
                  
                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                      <a href="www.github.com/amstars" class="btn btn-social btn-block btn-github">
                        <i class="fa fa-github"></i> </a>
                    </div>
                   </div>
                  </div>
                 </div>
        

            <div class="col-xs-12 col-sm-8">
              <ul class="list-group">
                <li class="list-group-item">Amy Ritchie</li>
                <li class="list-group-item">Junior Front End Developer</li>
                <li class="list-group-item"><i class="fa fa-envelope"></i> <a href="mailto:ritchie.amyc@gmail.com?subject=Regarding%20your%20site">Email Me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Objective</h4>
        <p>
         Obtain an entry or junior level web developer position allowing me to build on my proven strengths in website maintenance, email marketing and social media towards my goals of proficiency in front-end design and development.
        </p>
      </div>
     
      <div class="bs-callout bs-callout-danger">
        <h4>Prior Experiences</h4>
        <ul class="list-group">
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">
              Web Developer at it's bspoke
            </h4>
            <p class="list-group-item-text">
              Maintained several websites day-to-day for clients. Conducted email campaigns, including support of a major marketing automation initiative. Promoted events and managed RSVP system for professional membership organization. Managed social media presence for local event series. Supported the company’s needs in event planning and facilitation. 
            </p>
          </a>
            </li>
          </ul>
           
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Key Expertise</h4>
        <ul class="list-group">
          <li> Site Maintenence</li>
          <li> Front End Development</li>
          <li> Event Planning</li>
          <li> Marketing Automation</li>
          <li> HTML/CSS</li>
      
       </ul>
      </div>
   
      <div class="bs-callout bs-callout-danger">
        <h4>Education</h4>
        <table class="table table-responsive ">
          <thead>
            <tr><th>School</th>
            <th>Graduation Year</th>
            <th>Concentration</th>
          </tr></thead>
          <tbody>
            <tr>
              <td>Tech Talent South</td>
              <td>2015</td>
              <td>Ruby on Rails</td>
            </tr>
            <tr>
              <td>UNC Greensboro</td>
              <td>2005</td>
              <td>Sociology</td>
            </tr>
             <tr>
              <td>Elon University</td>
              <td>2003</td>
              <td>Mass Communications</td>
            </tr>
          </tbody>
        </table>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
<%= partial "footer" %>
